__pycache__/
*.pyc
*.log
.venv/
.cache/

# Data folders
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model / index outputs
models/
*.faiss
*.npy
*.pkl
data/index/english_e5/
data/index/multilingual/
data/embeddings/english_e5/
data/embeddings/multilingual/

# OS junk
.DS_Store
Thumbs.db

# Office lockfiles (Word/PowerPoint geçici dosyaları)
~$*
*.tmp
